html,body,h1,h2,h3,h4,p{
		margin:0;
		padding: 0;
		font-family: '微软雅黑';
	}
		.bg{
			width:100%;
			background-color: #383838;
		}
		.about{
			width: 100%;
			height:615px;
			background: url(../imgs/contact/about.jpg) no-repeat;
			position: relative;
		}
		.contact{
			width:300px;
			height: 470px;
			background-color: #ffffff;
			position: absolute;
			left:200px;
			top:75px;
			text-indent: 30px;
			font-size:20px;

		}
		.contact h3{
			margin:45px 0 0 0;
			color:#3a3a3a;
		}
		.contact h2{
			color:#ff3600;
		}
		.contact hr{
			width:120px;
			height:3px;
			background-color: black;
			position: absolute;
			left:30px;
			border: none;
		}
		.eat{
			margin-top: -17px;
		}
		.eat p{
			font-size: 16px;
			width:205px;
			height:40px;
			/*text-align: center;*/
			text-indent: 0px;
			margin:6px 0 0 30px;
		}
		.pos{
			position: absolute;
			top:180px;
			left:215px;
		}
		.info{
			height:470px;
			width:700px;
			/*border:1px solid red;*/
			position: absolute;
			left:535px;
			top:75px;
		}
		.time{
			color: #ffffff;
			text-indent: 15px;
		}
		.time h2{
			font-size: 40px;
			font-weight: bold;
			height:50px;
			line-height: 30px;
			margin-bottom: -5px;
		}
		.send{
			width:100%;
			height:215px;
			margin-top: 55px;
			background:url(../imgs/contact/red.gif) no-repeat;
			position: relative;
			
		}
		.inp{
			position: absolute;
			top:15px;
			left:40px;
		}
		.inp input[type="text"]{
			width:215px;
			height: 38px;
			border: none;
			margin-bottom: 5px;
			font-size: 16px;
		}
		.btn{
			width:105px;
			color:#791314;
			margin-top: 14px;
			font-size: 20px;
			font-weight: bold;
			height: 38px;

		}
		.message{
			position: absolute;
			/*width:410px;*/
			top:12px;
			left:290px;
			color:#ffffff;
			letter-spacing: 2px;
		}
		.message h2{
			font-size: 28px;
		}
		.message textarea{
			width:395px;
			height:95px;
			max-width:395px;
			max-height: 95px;
			border:none;
			margin-top: 15px;
			font-size: 16px;
		}
		#c-{
			margin-top: -20px;
		}
